Repository LuKasCuiRongfeng/server: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["prettier --write .", "eslint --fix"],
    "*.{md,MD}": ["prettier --write"]
}

update: gitignore
  README.md
  package.json
  pro/index.html
  pro/tsconfig.json
  server/Router/fuck.ts
  server/Router/index.ts
  server/index.ts
  server/package.json
Due: prettier --write ., eslint --fix, prettier --write

init
  package.json
  pro/package.json
  pro/tsconfig.json
  pro/webpack.config.ts
Due: prettier --write ., eslint --fix

prettier
  pro/package.json
Due: none

update: hahah
  package.json
  pro/index.html
  pro/package.json
  pro/src/App.tsx
  pro/src/main.tsx
  pro/tsconfig.json
  pro/webpack.config.dev.ts
  pro/webpack.config.prod.ts
  pro/webpack.config.ts
  server/app.ts
  server/package.json
  server/tsconfig.json
  server/webpack.config.ts
  tsconfig.json
Due: prettier --write ., eslint --fix

docs: packages.json
  package.json
Due: none

Update README.md
  README.md
Due: prettier --write

update: roouter
  pro/index.html
  pro/package.json
  pro/src/App.tsx
  pro/src/Home.tsx
  pro/src/app.css
  pro/src/header/config.ts
  pro/src/header/index.tsx
  pro/src/header/style.less
  pro/src/main.tsx
  pro/src/router.tsx
  pro/src/theme.less
  pro/src/type.d.ts
  pro/src/utils/const.ts
  pro/src/utils/utils.ts
  pro/src/views/pe/index.tsx
  pro/tsconfig.json
  pro/webpack.config.dev.ts
  pro/webpack.config.ts
Due: prettier --write ., eslint --fix

style: prettier
  README.md
  package.json
  pro/src/header/style.less
  pro/src/theme.less
Due: prettier --write

update:
  package.json
  pro/src/header/config.ts
  pro/src/header/config.tsx
  pro/src/views/epe/csgo/index.tsx
  pro/src/views/epe/dota/index.tsx
  pro/src/views/epe/index.tsx
  pro/src/views/epe/lol/index.tsx
  pro/src/views/music/classic/index.tsx
  pro/src/views/music/index.tsx
  pro/src/views/music/jazz/index.tsx
  pro/src/views/music/pop/index.tsx
  pro/src/views/pe/basketabll/index.tsx
  pro/src/views/pe/football/index.tsx
  pro/src/views/pe/index.tsx
  pro/src/views/pe/tennis/index.tsx
  server/package.json
Due: prettier --write ., eslint --fix

feat: support electron
  pro/package.json
  pro/src/main/index.ts
  pro/tsconfig.json
  pro/webpack.config.main.ts
Due: prettier --write ., eslint --fix

docs:
  .lintstagedrc.json
Due: none

update:
  pro/src/views/pe/index.tsx
Due: prettier --write ., eslint --fix

feat: add electron
  package.json
  pro/package.json
  pro/src/main/app.ts
  pro/src/main/core/url.ts
  pro/src/main/core/utils.ts
  pro/src/main/core/window-manager.ts
  pro/src/main/index.ts
  pro/src/main/windows/main.ts
  pro/src/router.tsx
  pro/webpack.config.dev.ts
  pro/webpack.config.main.ts
  pro/webpack.config.ts
Due: prettier --write ., eslint --fix

udpate
  pro/src/render/App.tsx
  pro/src/render/Home.tsx
  pro/src/render/app.css
  pro/src/render/header/config.tsx
  pro/src/render/header/index.tsx
  pro/src/render/header/style.less
  pro/src/render/index.html
  pro/src/render/main.tsx
  pro/src/render/router.tsx
  pro/src/render/theme.less
  pro/src/render/type.d.ts
  pro/src/render/utils/const.ts
  pro/src/render/utils/utils.ts
  pro/src/render/views/epe/csgo/index.tsx
  pro/src/render/views/epe/dota/index.tsx
  pro/src/render/views/epe/index.tsx
  pro/src/render/views/epe/lol/index.tsx
  pro/src/render/views/music/classic/index.tsx
  pro/src/render/views/music/index.tsx
  pro/src/render/views/music/jazz/index.tsx
  pro/src/render/views/music/pop/index.tsx
  pro/src/render/views/pe/basketabll/index.tsx
  pro/src/render/views/pe/football/index.tsx
  pro/src/render/views/pe/index.tsx
  pro/src/render/views/pe/tennis/index.tsx
  pro/tsconfig.json
  pro/webpack.config.main.ts
  pro/webpack.config.ts
Due: prettier --write ., eslint --fix

feat: add axios
  package.json
  pro/package.json
  pro/src/render/Home.tsx
  pro/src/render/api.ts
  pro/src/render/utils/service.ts
  pro/webpack.config.dev.ts
  server/Router/index.ts
  server/Router/recommend.ts
  server/app.ts
Due: prettier --write ., eslint --fix

update:
  pro/src/render/Home.tsx
  server/Router/index.ts
  server/Router/recomand.ts
  server/app.ts
Due: prettier --write ., eslint --fix

refactor
  pro/src/render/header/config.tsx
  pro/src/render/pages/home/Recommend.tsx
  pro/src/render/pages/home/api.ts
  pro/src/render/pages/home/header/index.tsx
  pro/src/render/pages/home/header/style.less
  pro/src/render/pages/home/index.tsx
  pro/src/render/pages/home/route.tsx
  pro/src/render/pages/home/views/epe/csgo/index.tsx
  pro/src/render/pages/home/views/epe/dota/index.tsx
  pro/src/render/pages/home/views/epe/index.tsx
  pro/src/render/pages/home/views/epe/lol/index.tsx
  pro/src/render/pages/home/views/music/classic/index.tsx
  pro/src/render/pages/home/views/music/index.tsx
  pro/src/render/pages/home/views/music/jazz/index.tsx
  pro/src/render/pages/home/views/music/pop/index.tsx
  pro/src/render/pages/home/views/pe/basketabll/index.tsx
  pro/src/render/pages/home/views/pe/football/index.tsx
  pro/src/render/pages/home/views/pe/index.tsx
  pro/src/render/pages/home/views/pe/tennis/index.tsx
  pro/src/render/router.tsx
Due: prettier --write ., eslint --fix

feat: add ipc
  .eslintrc.js
  package.json
  pro/package.json
  pro/src/main/app.ts
  pro/src/main/core/window-manager.ts
  pro/src/main/index.ts
  pro/src/main/ipc.ts
  pro/src/main/preload/home.js
  pro/src/main/windows/home.ts
  pro/src/render/pages/home/header/index.tsx
  pro/src/render/pages/home/route.tsx
  pro/src/render/pages/login/index.tsx
  pro/src/render/pages/login/route.tsx
  pro/src/render/router.tsx
  pro/src/render/store/hooks.ts
  pro/src/render/store/index.ts
  pro/src/render/store/reducer/home.ts
  pro/src/render/type.d.ts
  pro/webpack.config.main.ts
Due: prettier --write ., eslint --fix

update:
  pro/src/main/core/window-manager.ts
  pro/src/main/ipc.ts
  pro/src/render/pages/home/header/index.tsx
Due: prettier --write ., eslint --fix

update
  package.json
  pro/src/main/core/window-manager.ts
  pro/webpack.config.main.ts
Due: prettier --write ., eslint --fix

update:
  pro/src/main/app.ts
  pro/src/main/core/window-manager.ts
  pro/src/main/ipc.ts
  pro/src/main/preload/home.js
  pro/src/render/core/const.ts
  pro/src/render/core/ipcEvent.ts
  pro/src/render/core/service.ts
  pro/src/render/core/utils.ts
  pro/src/render/main.tsx
  pro/src/render/pages/home/api.ts
  pro/src/render/pages/home/header/index.tsx
  pro/src/render/pages/login/index.tsx
  pro/src/render/store/index.ts
  pro/src/render/store/reducer/login.ts
  pro/src/render/type.d.ts
  pro/webpack.config.ts
Due: prettier --write ., eslint --fix

feat: watch.ts
  package.json
  pro/package.json
  pro/watch.ts
Due: prettier --write ., eslint --fix

feat: watch
  pro/watch.ts
Due: prettier --write ., eslint --fix

update: watch.ts
  pro/src/main/index.ts
  pro/watch.ts
  pro/webpack.config.main.ts
Due: prettier --write ., eslint --fix

feat: custom titlebar
  pro/src/main/core/window-manager.ts
  pro/src/render/components/index.tsx
  pro/src/render/components/titlebar/index.less
  pro/src/render/components/titlebar/index.tsx
  pro/src/render/components/window/index.tsx
  pro/src/render/core/utils.ts
  pro/src/render/pages/home/header/index.tsx
  pro/src/render/pages/home/header/style.less
  pro/src/render/pages/home/index.tsx
  pro/src/render/pages/login/index.tsx
  pro/src/render/theme.less
Due: prettier --write ., eslint --fix

feat: theme
  pro/src/main/app.ts
  pro/src/main/ipc.ts
  pro/src/render/app.css
  pro/src/render/components/titlebar/control.tsx
  pro/src/render/components/titlebar/index.less
  pro/src/render/components/titlebar/index.tsx
  pro/src/render/core/utils.ts
  pro/src/render/main.tsx
  pro/src/render/pages/home/header/style.less
  pro/src/render/pages/home/index.tsx
  pro/src/render/theme.css
  pro/src/render/vars.css
Due: prettier --write ., eslint --fix

feat: theme
  pro/src/render/vars.css
Due: none

update: xxx
  pro/package.json
  pro/src/render/main.tsx
  pro/src/render/pages/home/header/index.tsx
  pro/src/render/pages/home/header/style.less
  pro/src/render/pages/home/route.tsx
  pro/src/render/router.tsx
  pro/src/render/theme.css
  pro/src/render/vars.css
Due: prettier --write ., eslint --fix

update
  client/package.json
  client/src/render/core/const.ts
  client/src/render/core/utils.ts
  client/src/render/theme.less
Due: prettier --write ., eslint --fix

update
  client/src/render/main.tsx
  client/src/render/pages/home/api.ts
  client/src/render/pages/home/views/epe/lol/api.ts
  client/src/render/pages/home/views/epe/lol/index.tsx
  server/Router/bigFile.ts
  server/Router/fuck.ts
  server/Router/index.ts
  server/Router/lol.ts
  server/Router/recommend.ts
  server/app.ts
  server/mongodb/index.ts
  server/package.json
Due: prettier --write ., eslint --fix

update: login
  client/electronBuilder.ts
  client/src/render/core/service.ts
  client/src/render/pages/login/api.ts
  client/src/render/pages/login/index.tsx
  server/Router/index.ts
  server/Router/login.ts
  server/app.ts
  server/mongodb/index.ts
  server/utils.ts
Due: prettier --write ., eslint --fix

update: mvc
  server/Router/bigFile.ts
  server/Router/index.ts
  server/Router/login.ts
  server/Router/lol.ts
  server/Router/recommend.ts
  server/app.ts
  server/controller/login.ts
  server/controller/lol.ts
  server/model/FullStack.ts
  server/mongodb/index.ts
  server/types.ts
  server/utils.ts
  server/webpack.config.ts
Due: prettier --write ., eslint --fix

update: login
  client/package.json
  client/src/main/app.ts
  client/src/main/index.ts
  client/src/main/ipc.ts
  client/src/main/preload/preload.js
  client/src/main/windows/home.ts
  client/src/main/windows/login.ts
  client/src/render/pages/home/Recommend.tsx
  client/src/render/pages/home/index.tsx
  client/src/render/pages/home/route.tsx
  client/src/render/pages/login/api.ts
  client/src/render/pages/login/index.less
  client/src/render/pages/login/index.tsx
  client/src/render/pages/login/login.tsx
  client/src/render/pages/login/logo.svg
  client/src/render/pages/login/register.tsx
  client/src/render/pages/login/route.tsx
  server/controller/login.ts
  server/types.ts
Due: prettier --write ., eslint --fix

update: login logic
  client/src/main/app.ts
  client/src/main/ipc.ts
  client/src/main/windows/login.ts
  client/src/render/pages/home/Recommend.tsx
  client/src/render/pages/home/api.ts
  client/src/render/pages/home/header/index.tsx
  client/src/render/pages/home/header/user.tsx
  client/src/render/pages/home/index.tsx
  client/src/render/pages/home/route.tsx
  client/src/render/pages/login/api.ts
  client/src/render/pages/login/login.tsx
  client/src/render/store/reducer/home.ts
  server/controller/login.ts
  server/mongodb/index.ts
Due: prettier --write ., eslint --fix

feat: i18n
  client/package.json
  client/src/render/locales/index.ts
  client/src/render/locales/lang/en_US.json
  client/src/render/locales/lang/index.ts
  client/src/render/locales/lang/zh_CN.json
  client/src/render/main.tsx
  client/src/render/pages/home/header/index.tsx
  client/src/render/pages/home/header/lang.tsx
  client/tsconfig.json
Due: prettier --write ., eslint --fix

prettier
  client/src/render/locales/lang/en_US.json
  client/src/render/locales/lang/zh_CN.json
Due: none

feat: socket
  client/package.json
  client/src/render/app.css
  client/src/render/core/service.ts
  client/src/render/core/socket.ts
  client/src/render/main.tsx
  client/src/render/pages/home/Recommend.tsx
  client/webpack.config.dev.ts
  server/app.ts
  server/package.json
  server/yarn-error.log
Due: prettier --write ., eslint --fix
